.description-title {
    margin-bottom: 2em;
}

.description-line {
    background-color: #f3f3f3;
    height: 8px;
    width: 30%;
    margin-bottom: 2em;
}

.description-container {
    border-top: 2px solid #f3f3f3;

 
}

.description-text {
 padding-bottom: 60px;
}

.description-image {
    display: flex;
    justify-content: center;
}