.header-wrapper {

    font-size: 20px;
    padding: 3em;
    padding-bottom: 0em;
    // height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-company {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-tagline {
    
    padding-top: 10px;
    font-size: 2em;
}

.header-title {
    text-align: center;
    padding-top: 2em;
    font-size: 1em;
}

.header-logo {
    width: 70px;
    padding: 10px;
    padding-bottom: 20px;
}