.modelBlock-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1em;


}

.modelBloack-canvas {
    width: 800px;
    height: 700px;

    //border: 1px solid gray;
    // background-color: gray;

    // background-image: url('../../../public/blueprint.jpg');
    // background-repeat: no-repeat;
    // background-size:contain ;
}

.modelBloack-text {
    width: 300px;

    font-size: 16px;
}