.usability-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usability-title {
    padding-bottom: 60px;
}

.usability-text {
    padding-bottom: 60px;
}